div.line {			
        line-height: 125%;/* Make lines slightly more separated*/
}

/* @group Code Colorization */

span.keyword {
    color: #008000; font-weight: bold
}

span.keywordtype {
    color: #806020; font-weight: bold
}

span.keywordflow {
    color: #e08000
}

span.comment { /* Comment.Single */
    color: #408090; font-style: italic
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
    color: #ff0000
	/* color: #4070a0  */
}

span.charliteral {
    color: #ff0000
    /* color: #008080; */
}

/* /\* This are default for description of parameters *\/ */
/* .paramkey { */
/* 	text-align: right; */
/* } */

/* .paramtype { */
/* 	white-space: nowrap; */
/* } */

/* .paramname { */
/* 	color: #602020; */
/* 	white-space: nowrap; */
/* } */
/* .paramname code { */
        /* color: #008000 */
/* } */

div.image img {width: 50%
}

/* div.line { */
/*     background-color: #ccdddd */
/* } */
