/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                            Code Colorization                              *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* @group Code Colorization */

div.line {			
        line-height: 125%;/* Make lines slightly more separated*/
}

/* @group Code Colorization */

div.fragment { background-color: #0f0f0f; color: white}

span.lineno  { background-color: #0f0f0f; color: white}

span.keyword {
    color: #FFa000; font-weight: bold
}

span.keywordtype {
    color: #60f090; font-weight: bold
}

span.keywordflow {
    color: #e08000
}

span.comment { /* Comment.Single */
    color: lightskyblue; font-style: italic
}

span.preprocessor {
	color: #806020
}

span.stringliteral {
    color: #ffa0a0
}

span.charliteral {
    color: #ffa0a0
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                          Images customization                             *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

div.image img {width: 50%
}

